In [1]:
import os
import sys
import pandas as pd
import numpy as np
import pycaret

In [2]:
os.chdir(r"C:\Users\User\Desktop\data science project\app\lungs app")

In [3]:
df=pd.read_csv("lung_cancer_examples.csv")
df.head()

     Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0    John         Wick   35       3      5       4       1
1    John  Constantine   27      20      2       5       1
2  Camela     Anderson   30       0      5       2       0
3    Alex       Telles   28       0      8       1       0
4   Diego     Maradona   68       4      5       6       1

In [6]:
df=df.drop('Name',axis=1)

In [8]:
df=df.drop("Surname",axis=1)

In [9]:
df.head()

   Age  Smokes  AreaQ  Alkhol  Result
0   35       3      5       4       1
1   27      20      2       5       1
2   30       0      5       2       0
3   28       0      8       1       0
4   68       4      5       6       1

In [10]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [11]:
X.head()

   Age  Smokes  AreaQ  Alkhol
0   35       3      5       4
1   27      20      2       5
2   30       0      5       2
3   28       0      8       1
4   68       4      5       6

In [12]:
y.head()

0    1
1    1
2    0
3    0
4    1
Name: Result, dtype: int64

In [13]:
### Train Test Split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [14]:
### Implement Random Forest classifier
from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier()
classifier.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [15]:
## Prediction
y_pred=classifier.predict(X_test)

In [16]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)

In [17]:
score

0.8888888888888888

In [18]:
import pickle
pickle_out = open("classifier.pkl","wb")
pickle.dump(classifier, pickle_out)
pickle_out.close()